{% extends "base.html" %}
{% load static %}

{% block title %}
    Feedback List
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
{% endblock %}

{% block content %}
    <section class="feedback-section">
        <div class="feedback-shell">
            <div class="feedback-header">
                <h1>Feedback Gallery</h1>
                <p>Browse user feedbacks.</p>
            </div>

            <div class="feedback-gallery">
                {% for feedback in feedbacks %}

                    <article class="feedback-card">
                        <div class="feedback-image-wrapper">
                            {% if feedback.image %}
                                <img src="{{ feedback.image.url }}"
                                     alt={{ feedback.subject }} class="feedback-thumbnail">
                            {% endif %}
                        </div>

                        <h3>
                            {{ feedback.subject }}
                            {% if feedback.id in favorites %}
                                ⭐
                            {% endif %}
                        </h3>

                        <p>{{ feedback.message|truncatewords:10 }}</p>


                        <a class="feedback-link" href="{% url 'feedback-detail' feedback.id %}">
                            View Details
                        </a>

                        <form action="{% url 'toggle-favorite' feedback.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Toggle Favorite</button>
                        </form>
                    </article>
                {% empty %}
                    <p class="feedback-empty">No feedback submitted yet.</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


