{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ object.subject|default:"Feedback Detail" }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
{% endblock %}

{% block content %}
    <section class="feedback-section">
        <div class="feedback-detail-card">
            <div class="feedback-header">
                <h1>
                    {{ feedback.subject }}
                    {% if feedback.id in favorites %}
                        ⭐
                    {% endif %}
                </h1>

            </div>

            {% if feedback.image %}
                <img src="{{ feedback.image.url }}" alt="{{ feedback.subject }}" class="feedback-detail-image">
            {% endif %}

            <div class="feedback-detail-body">
                <p>{{ feedback.message }}</p>
            </div>

            <form action="{% url 'toggle-favorite' feedback.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Toggle Favorite</button>
            </form>

            <div class="feedback-actions">
                <a class="thanks-link" href="{% url 'feedback-list' %}">Back to Gallery</a>
            </div>
        </div>
    </section>

{% endblock %}


