{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
<nav>
    ==============================
    <a href="{% url 'landing' %}">HOME</a>
    <a href="{% url 'about' %}">ABOUT</a>
    ==============================
</nav>
{% block content %}
{% endblock %}

<footer>
    ============================== Placeholder: Footer ==============================
</footer>
</body>
</html>